<div id="about-container">
  <div id="about-container-inner">
    <!-- <i class="fas fa-camera"></i>
      <i class="far fa-address-card"></i> -->
    <app-header></app-header>
    <div class="about-content">
      <div class="banner">
        <h2 class="drop-shadow">About Us</h2>
        <p class="drop-shadow">This assignment was created by Lucas han Here.</p>
        <p class="drop-shadow">It was created for IS183 at CSUF.</p>
        <button class="btn btn-primary drop-shadow">Learn More</button>
      </div>
    </div>
  </div>
</div>